.header {
	background-image: url(https://toddmeinershagen.files.wordpress.com/2016/10/cropped-cropped-cropped-dreamstime_1879x428_10688692.jpg);
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff;
	/*font-family: sans-serif;*/
	/*text-align: right;*/
}

.header h2 {
	color: #ffffff;
}

blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #CCC ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#333333;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

img {
  max-width: 100%;
}

  .gr_custom_container_ {
    /* customize your Goodreads widget container here*/
    border: 1px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFF;
    color: #000;
    width: 300px
  }
  .gr_custom_header_ {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%
  }
  .gr_custom_each_container_ {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_ {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
      float: left;
      margin-right: 4px;
      width: 39px;
  }
  .gr_custom_author_ {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_ {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_ {
    /* customize your rating stars here */
    float: right;
  }